.perspective-1000 {
    perspective: 1000px;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-0 {
    transform: rotateY(0deg);
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .group-hover\:rotate-y-180:hover {
    transform: rotateY(180deg);
  }