@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollbar-hide {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.scrollbar-hide::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: #D6E4F0;
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background: #4874A0;
  border-radius: 10px;
}

.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background: #4874A0;
}


@media (max-width: 640px) {
    .vector {
      display: none;
    }
}


.a {
  display: none;
}

@media screen and (min-width: 1400px) {
  .a{
    display: block;
  }
}

.b {
  display: none;
}

@media screen and (min-width: 900px) {
  .b{
    display: block;
  }
}

@layer utilities {
  .animation-delay-100 {
    animation-delay: 0.1s;
  }
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-300 {
    animation-delay: 0.3s;
  }
}
